{% load static %}
 <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Tekvan.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Tekvan IT Solutions
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

 <!-- JAVASCRIPT -->
      <script src="{% static 'product_tracking/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'product_tracking/assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'product_tracking/assets/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'product_tracking/assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'product_tracking/assets/libs/list.js/list.min.js' %}"></script>

    <!-- Dashboard init -->
    <script src="{% static 'product_tracking/assets/js/pages/dashboard-analytics.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'product_tracking/assets/js/app.js' %}"></script>

    <script src="{% static 'product_tracking/assets/js/pages/datatables.init.js'%}"></script>

    <script src="{% static 'product_tracking/assets/libs/flatpickr/flatpickr.min.js'%}"></script>
