{% load static %}
        <meta charset="utf-8">
        <title> WMS </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description">
        <meta content="" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'product_tracking/assets/images/favicon.ico' %}">

        <!-- Layout config Js -->
        <script src="{% static 'product_tracking/assets/js/layout.js' %}"></script>
        <!-- Bootstrap Css -->
        <link href="{% static 'product_tracking/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'product_tracking/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'product_tracking/assets/css/app.min.css' %}" rel="stylesheet" type="text/css">
        <!-- custom Css-->
        <link href="{% static 'product_tracking/assets/css/custom.min.css' %}" rel="stylesheet" type="text/css">
