{% include 'product_tracking/head.html' %}
{% load static %}
{% block content %}
<body class="dashboard-topbar-wrapper">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== App Menu ========== -->
{% include 'product_tracking/menu.html' %}
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>
       {% include 'product_tracking/header.html' %}
        <div class="wrapper"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-8">
                            <div>
                                <div class="row gy-4">
                                    <div class="col-sm-4 border-end-sm">
                                        <div class="text-center">
                                            <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Total Sessions</p>
                                            <h4 class="fw-semibold mb-3"><span class="counter-value" data-target="476.32">0</span>k </h4>
                                            <div class="d-flex align-items-center justify-content-center gap-2">
                                                <h5 class="text-success fs-xs mb-0">
                                                    <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                                                </h5>
                                                <p class="text-muted mb-0">than last week</p>
                                            </div>
                                        </div><!-- end card -->
                                    </div>
                                    <div class="col-sm-4 border-end-sm">
                                        <div class="text-center">
                                            <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Avg. Visit Duration</p>
                                            <h4 class="fw-semibold mb-3"><span class="counter-value" data-target="1.57">0</span>s </h4>
                                            <div class="d-flex align-items-center justify-content-center gap-2">
                                                <h5 class="text-success fs-xs mb-0">
                                                    <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                                                </h5>
                                                <p class="text-muted mb-0">than last week</p>
                                            </div>
                                        </div><!-- end card -->
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Impressions</p>
                                            <h4 class="fw-semibold mb-3"><span class="counter-value" data-target="2368">0</span>k </h4>
                                            <div class="d-flex align-items-center justify-content-center gap-2">
                                                <h5 class="text-success fs-xs mb-0">
                                                    <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                                                </h5>
                                                <p class="text-muted mb-0">than last week</p>
                                            </div>
                                        </div><!-- end card -->
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="mx-n4">
                                        <div id="performance_overview" data-colors='["--tb-primary", "--tb-warning"]' class="apex-charts" dir="ltr"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="card-body p-3 d-flex gap-3">
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-sm">
                                                        <div class="avatar-title bg-body-secondary text-secondary rounded fs-3xl">
                                                            <i class="ti ti-brand-facebook"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-2">Facebook <span class="badge bg-success-subtle text-success"><i class="ti ti-arrow-up-right"></i> 2.59%</span></p>
                                                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="354620">0</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="card-body p-3 d-flex gap-3">
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-sm">
                                                        <div class="avatar-title bg-body-secondary text-danger rounded fs-3xl">
                                                            <i class="ti ti-brand-instagram"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-2">Instagram <span class="badge bg-success-subtle text-success"><i class="ti ti-arrow-up-right"></i> 4.05%</span></p>
                                                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="245631">0</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="card-body p-3 d-flex gap-3">
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-sm">
                                                        <div class="avatar-title bg-body-secondary text-info rounded fs-3xl">
                                                            <i class="ti ti-brand-twitter"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-2">Twitter <span class="badge bg-danger-subtle text-danger"><i class="ti ti-arrow-down-right"></i> 1.67%</span></p>
                                                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="154832">0</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card">
                                            <div class="card-body p-3 d-flex gap-3">
                                                <div class="flex-shrink-0">
                                                    <div class="avatar-sm">
                                                        <div class="avatar-title bg-body-secondary text-body rounded fs-3xl">
                                                            <i class="ti ti-world"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-muted mb-2">Website <span class="badge bg-success-subtle text-success"><i class="ti ti-arrow-up-right"></i> 3.12%</span></p>
                                                    <h6 class="fw-semibold mb-0"><span class="counter-value" data-target="489012">0</span>k <small class="text-muted fw-normal">Visitors</small></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card" id="contactList">
                                            <div class="card-header align-items-center d-flex">
                                                <h4 class="card-title mb-0 flex-grow-1">Campaign performance by source</h4>
                                                <div class="flex-shrink-0">
                                                    <div class="dropdown card-header-dropdown sortble-dropdown">
                                                        <a class="text-reset dropdown-btn fs-sm" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="fw-semibold text-uppercase">Sort by:
                                                            </span><span class="text-muted dropdown-title">Source</span> <i class="ti ti-chevron-down ms-1"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <button class="dropdown-item sort" data-sort="source">Source</button>
                                                            <button class="dropdown-item sort" data-sort="impression">Impression</button>
                                                            <button class="dropdown-item sort" data-sort="cost">Cost</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive table-card mt-0">
                                                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                                        <thead class="text-muted table-light">
                                                            <tr>
                                                                <th scope="col" class="sort cursor-pointer" data-sort="source">Source</th>
                                                                <th scope="col" class="sort cursor-pointer" data-sort="impression">Impression</th>
                                                                <th scope="col" class="sort cursor-pointer" data-sort="clicks">Clicks</th>
                                                                <th scope="col" class="sort cursor-pointer" data-sort="cost">Cost</th>
                                                                <th scope="col" class="sort cursor-pointer" data-sort="conversation">Conversion</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="list">
                                                            <tr>
                                                                <td class="source">
                                                                    Facebook Ads
                                                                </td>
                                                                <td class="impression">
                                                                    165,148,541
                                                                </td>
                                                                <td class="clicks">
                                                                    124,587,415
                                                                </td>
                                                                <td class="cost">$498,340</td>
                                                                <td class="conversation">
                                                                    415,260
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="source">
                                                                    Instagram Ads
                                                                </td>
                                                                <td class="impression">
                                                                    324,159,321
                                                                </td>
                                                                <td class="clicks">
                                                                    257,951,346
                                                                </td>
                                                                <td class="cost">$743,654</td>
                                                                <td class="conversation">
                                                                    247,254,410
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="source">
                                                                    Youtube Ads
                                                                </td>
                                                                <td class="impression">
                                                                    954,321,875
                                                                </td>
                                                                <td class="clicks">
                                                                    738,192,465
                                                                </td>
                                                                <td class="cost">$987,623,145</td>
                                                                <td class="conversation">
                                                                    632,184,952
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="source">
                                                                    Google Ads
                                                                </td>
                                                                <td class="impression">
                                                                    21,154,309,318
                                                                </td>
                                                                <td class="clicks">
                                                                    12,018,992,301
                                                                </td>
                                                                <td class="cost">$1,543,243,019</td>
                                                                <td class="conversation">
                                                                    4,309,318,287
                                                                </td>
                                                            </tr>
                                                        </tbody><!-- end tbody -->
                                                    </table><!-- end table -->
                                                    <div class="noresult" style="display: none">
                                                        <div class="text-center">
                                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any transactions for you search.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end row-->

                                <div class="row">

                                    <div class="col-xxl-12">
                                        <div class="card">
                                            <div class="card-header d-flex align-items-center">
                                                <h6 class="card-title mb-0 flex-grow-1">Session Overview</h6>
                                                <div class="flex-shrink-0">
                                                    <button type="button" class="btn btn-subtle-secondary btn-sm">
                                                        ALL
                                                    </button>
                                                    <button type="button" class="btn btn-subtle-secondary btn-sm">
                                                        1M
                                                    </button>
                                                    <button type="button" class="btn btn-subtle-secondary btn-sm">
                                                        6M
                                                    </button>
                                                    <button type="button" class="btn btn-subtle-primary btn-sm">
                                                        1Y
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div id="balance_overview" data-colors='["--tb-primary", "--tb-success","--tb-info"]' class="apex-charts ms-n3" dir="ltr"></div>
                                                <div class="table-responsive table-card mb-0 mt-3">
                                                    <table class="table table-sm table-borderless align-middle text-center mb-0 table-nowrap">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-primary"></i> Total Revenue</td>
                                                                <th>$795.69k</th>
                                                                <td class="text-muted"><span class="text-success"><i class="bi bi-caret-up-fill align-baseline me-1"></i> 6.19%</span> than last years</td>
                                                                <td class="text-end" style="width: 150px;"><a href="#!" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-success"></i> Total Expenses</td>
                                                                <th>$415.37k</th>
                                                                <td class="text-muted"><span class="text-success"><i class="bi bi-caret-up-fill align-baseline me-1"></i> 3.62%</span> than last years</td>
                                                                <td class="text-end" style="width: 150px;"><a href="#!" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-start"><i class="ti ti-point-filled align-baseline me-1 text-info"></i> Profit Ratio </td>
                                                                <th>3.6%</th>
                                                                <td class="text-muted"><span class="text-danger"><i class="bi bi-caret-down-fill align-baseline me-1"></i> 1.47%</span> than last years</td>
                                                                <td class="text-end" style="width: 150px;"><a href="#!" class="icon-link icon-link-hover text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">View All <i class="bi bi-arrow-right"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-xl-4">
                            <div class="d-none d-xl-block">
                                <div class="card bg-success-subtle shadow-none rounded-0 border-0 dashboard-widgets-wrapper">
                                    <div class="card-body text-center mt-5 pt-5">
                                        <h5>Welcome {{ username }}!</h5>
                                        <p class="text-muted fs-md  ">There is the latests update for the last 7 days, check now</p>
                                        <img src="{% static 'product_tracking/assets/images/dashboard.png'%}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% include 'product_tracking/footer.html' %}
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!--start back-to-top-->
    <button class="btn btn-dark btn-icon" id="back-to-top">
        <i class="bi bi-caret-up fs-3xl"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

</body>
{% endblock %}
